// Define variables for your color scheme
$yellow: #F8C630;
$red: #EB5855;

$green: #114D4D;
$green-60: rgba(17, 77, 77, 0.6);
$green-40: rgba(17, 77, 77, 0.4);
$green-20: rgba(17, 77, 77, 0.2);

$yellow-50: rgba(#F8C630, 0.5);

$white-50: rgba(#FFF, 0.50);
$white-30: rgba(#FFF, 0.30);

$card-shadow: 2px 2px 20px 20px rgba(#000, 0.25);
$title-shadow: rgba($green, .3) 0px 2px 0px 0px, rgba($green, .3) 0px -.6em 0px 0px inset;

$blue: #167FFB;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

$card-radius: .5rem;