#label-login {
  color: white;
}

.btn-block {
  margin-top: 30px;
}

.logo-badge {
  background-image: url(image-path('logo_DLC-back.png'));
  height: 6rem;
  width: 6rem;
  background-size: cover;
  margin: 3rem auto 3rem;
}

.title-connexion {
  margin:16px auto;
}

.simple_form {
	.btn {
    width: -webkit-fill-available;
    display: grid;
	}
}
//background-image: url(image-path('patternpad.svg'));
