* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Hind Madurai', sans-serif;
}

body {
	background: $green-20;
	padding-bottom:6rem;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 1rem;
}

p {
	margin-bottom: 0;
}

a {
	text-decoration: none !important;
	color: #000;
}

.content {
	position:relative;
	z-index:5;
	padding:0 0.75rem;
}

.cards {
	padding-bottom: 6rem;
}
