.profil-container {	
  margin-top: 1rem;

  .inset {
	  margin-left: 1.25rem;
	}
}

.toggle-profil .btn {
	color: green-25;
}

.form-user .profile-button {
  float: right;
}


.btn-oval-full-green {
  :hover {
  	color: white;
  }
}

.btn-logout:hover {
		color: white;
	}