 .toggle-profil .btn {
color: green-25;
}

.form-user .profile-button {
  float: right;
}


.btn-oval-full-green {
  display: flex;

  :hover {
  	color: white;
  }
}

.btn-logout:hover {
		color: white;
	}