<h1 class="inset margin-inset">MON PROFIL</h1>

<div class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample1" role="button" aria-expanded="false" aria-controls="CollapseExample">
  <p>MON PLANNING RÉCOLTES</p>
  <i class="fas fa-chevron-down fa-lg"></i>
</div>

<div class="collapse" id="CollapseExample1">
  <div class="card-body">
    <% @harvesters.each do |harvester| %>
      <p>Le <%= harvester.harvest.date %> à <%= harvester.harvest.hour.strftime("%H:%M") %> à <%= harvester.harvest.partner.name %></p>
    <% end %>
  </div>
</div>
<br>

<div class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample2" role="button" aria-expanded="false" aria-controls="CollapseExample2">
  <p>MES COORDONNÉES</p>
  <i class="fas fa-chevron-down fa-lg"></i>
</div>
<div class="collapse" id="CollapseExample2">
  <div class="card-body">

        <div class="col-md-5">
            <div class=" py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Mes informations</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Prénom</label><input type="text" class="form-control" placeholder="John" value=""></div>
                    <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" value="" placeholder="Doe"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Téléphone</label><input type="text" class="form-control" placeholder="XX.XX.XX.XX" value=""></div>
                    <div class="col-md-12"><label class="labels">Addresse</label><input type="text" class="form-control" placeholder="10 rue de Paris" value=""></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="contact@test.com" value=""></div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Code postal</label><input type="text" class="form-control" placeholder="44000" value=""></div>
                    <div class="col-md-6"><label class="labels">Pays</label><input type="text" class="form-control" value="" placeholder="France"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Sauvegarder</button></div>
            </div>
        </div>
  </div>
</div>





