<div class="form-user">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-right inset">J'organise ma distribution</h1>
      </div>
      <div class="row mt-2">
        <div class="mt-3 col-md-12">
          <label class="labels">1. Le nombre de panier</label>
          <input type="integer" class="form-control" placeholder="" value="">
        </div>
        <div class="mt-3 col-md-12">
          <label for="exampleFormControlTextarea1" class="labels">2. Description (type de produits)</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" value="" placeholder=""></textarea>
        </div>
        <div class="mt-3 ml-3">
        	<p>3. Équipements nécessaires</p>
        </div>
        <div class="form-check ml-3 col-md-12">
  				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  				<label class="form-check-label" for="flexCheckDefault">
    			Sacs et cabas
  				</label>
				</div>
				<div class="form-check ml-3 col-md-12">
  				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
 				 	<label class="form-check-label" for="flexCheckChecked">
    			Glacière obligatoire
  			 </label>
				</div>
        <div class=" mt-3 col-md-12">
          <label class="labels">4. Adresse de la distribution</label>
          <input type="text" class="form-control" placeholder="" value="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">Code postal</label>
          <input type="text" class="form-control" placeholder="" value="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">Ville</label>
          <input type="text" class="form-control" value="" placeholder="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">5. Date de la distribution</label>
          <input type="text" class="form-control" placeholder="" value="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">Heure</label>
          <input type="text" class="form-control" value="" placeholder="">
        </div>
        <div class="mt-3 col-md-12">
          <label for="exampleFormControlTextarea1" class="labels">6. Informations complémentaires</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" value="" placeholder=""></textarea>
        </div>
        <div class="mt-1 col-md-6">
          <button class="btn btn-oval-full-green profile-button" type="button">Sauvegarder</button>
        </div>
      </div>
    </div>