<div id="modal-window" class="transparent">
  <div id="modal-layer">
  </div>
  <div id="modal-message">
    <h5 id="intro-text"></h5><br>
    <h5> <strong id="modal-shop"><strong></h5>
    <h5><strong id="modal-schedule"></strong></h5>
    <div class="text-center" style="display: inline-block;"
    ><button class="btn-oval-full-green btn-lg" id="modal-confirm">Oui</button><button class="btn-oval-full-pink btn-lg" id="modal-cancel">Non</button>
    </div>
  </div>
</div>
