<div id="modal-window" class="transparent">
  <div id="modal-layer">
  </div>
  <div id="modal-message">
    <p>Confirmez votre inscription pour la récolte :</p>
    <h4 id="modal-shop"></h4>
    <h5 id="modal-schedule"></h5>
    <button id="modal-confirm">Valider</button><button id="modal-cancel">Annuler</button>
  </div>
</div>
