<div class="navbar">
  <div class="category-menu">
    <i class="fas fa-store-alt"></i>
    <a href="#home" class="active">Magasins</a>
  </div>
  <div class="category-menu-urgences">
    <i class="fas fa-hand-paper"></i>
    <a href="#news">Urgences</a>
  </div>
  <div class="category-menu">
    <i class="fas fa-heart"></i>
    <a href="#news">Favoris</a>
  </div>
  <div class="category-menu">
    <i class="fas fa-user"></i>
    <a href="#contact">Profile</a>
  </div>
</div>
