<div class="navbar">
  <%= link_to partners_path do %> 
    <div class="category-menu active">
      <i class="fas fa-store-alt"></i>
      <p>Magasins</p>
    </div>
  <% end %>

  
  <%= link_to harvests_path do %> 
    <div class="category-menu">
      <i class="fas fa-exclamation-triangle"></i>
      <p>Urgences</p>
    </div>
  <% end %>
     
  <a href="#news">
    <div class="category-menu">
      <i class="fas fa-heart"></i>
      <p>Favoris</p>
    </div>
  </a>

  <%= link_to user_path(current_user) do %> 
    <div class="category-menu">
      <i class="fas fa-user"></i>
      <p>Profile</p>
    </div>
  <% end %>
  
</div>
