<div class="navbar">
  <a href="#home">
    <div class="category-menu active">
      <i class="fas fa-store-alt"></i>
      <p>Magasins</p>
    </div>
  </a>
  <a href="#news">
    <div class="category-menu">
      <i class="fas fa-exclamation-triangle"></i>
      <p>Urgences</p>
    </div>
  </a>
  <a href="#news">
    <div class="category-menu">
      <i class="fas fa-heart"></i>
      <p>Favoris</p>
    </div>
  </a>
  <a href="#contact">
    <div class="category-menu">
      <i class="fas fa-user"></i>
      <p>Profile</p>
    </div>
  </a> 
</div>
