<div class="index">
	<!-- TITLE -->
	<h1 class="inset">Les récoltes urgentes</h1>
	<p>Cette semaine, il manque du monde sur les créneaux suivants : </p>
	<!-- CARDS -->
	<div class="cards">
    <% @harvests.each do |date, harvests_details| %>
		  <p class="date-harvest mt-4"><%= l(date, format: "%A %d %B %Y") %></p>
      <% harvests_details.each do |harvest| %>
        <%= render partial: "harvest", locals: { harvest: harvest } %>
      <% end %>
    <% end %>
	</div>
  </div>

</div>

<%= render 'shared/modal_window' %>
