<h2>Show Harvest</h2>
<%= @harvest.date %>

<% @harvest.harvesters.each do |harvester| %>
  <p><%= harvester.user.first_name %></p>
<% end %>

<%= link_to "Fiche magasin", partner_path(@harvest.partner)%>
