<div class="contact">

	<h1 class="h1-contact">Merci !</h1>
	<p class="p-contact pb-3">L'équipe support</p>

  <div class="contact-container">
    <div class="our-team">
      <div class="picture">
         <%= image_tag "Guillaume.jpeg", class: "contact-pic photo-contact", alt: "avatar" %>
      </div>
      <div class="team-content">
        <h3 class="name">Guillaume</h3>
        <h4 class="title">Web Developer</h4>
      </div>
    </div>
    <div class="our-team">
      <div class="picture">
        <%= image_tag "Lucrece.jpeg", class: "contact-pic photo-contact", alt: "avatar" %>
      </div>
      <div class="team-content">
        <h3 class="name">Lucrèce</h3>
        <h4 class="title">Web Developer</h4>
      </div>
    </div>
    <div class="our-team">
      <div class="picture">
        <%= image_tag "Marion.jpeg", class: "contact-pic photo-contact", alt: "avatar" %>
      </div>
      <div class="team-content">
        <h3 class="name">Marion</h3>
        <h4 class="title">Web Developer</h4>
      </div>
    </div>
    <div class="our-team">
      <div class="picture">
        <%= image_tag "Antoine.jpeg", class: "contact-pic photo-contact", alt: "avatar" %>
      </div>
      <div class="team-content">
        <h3 class="name">Antoine</h3>
        <h4 class="title">Web Developer</h4>
      </div>
    </div>
  </div>
</div>
