<div class="contact">

	<h1>Merci !</h1>

	<p>L'équipe support</p>

	<div class="top">
		<div class="inside">
			<div  class="photo">
				<%= image_tag "Guillaume.jpeg", class: "photo-contact", alt: "avatar" %>
			</div>
			<h5 class="p-contact">Guillaume</h5>
		</div>

		<div class="inside">
			<%= image_tag "Lucrece.jpeg", class: "photo-contact", alt: "avatar" %>
			<h5 class="p-contact">Lucrèce</h5>
		</div>
 	</div>

 	<div class="bottom">
 		<div class="inside">
			<%= image_tag "Marion.jpeg", class: "photo-contact", alt: "avatar" %>
			<h5 class="p-contact">Marion</h5>
		</div>

		<div class="inside">
			<%= image_tag "Antoine.jpeg", class: "photo-contact", alt: "avatar" %>
			<h5 class="p-contact">Antoine</h5>
		</div>
	</div>
</div>
