<div class="index">
	<!-- TITLE -->
	<h1 class="inset">Je choisis un magasin</h1>
	<!-- CARDS -->
	<div class="cards">
		<!-- CARD SHOP -->
		<div class="card-template-shop">
			<div class="card-shop">
				<div class="top">
					<div class="shop-name">
						<%= image_tag "logo-carrefour.jpeg", alt: "Carrefour", width: 30 %>
						<p class="shop-title">carrefour saint-herblain</p>
					</div>
					<div class="distance">
						<p class="distance-label"><span><i class="fas fa-map-marker-alt"></i></span>700 m</p>
					</div>	
				</div>
				<div class="bottom">
					<p class="shop-address">Boulevard De la Baule, 44000 Saint- Herblain</p>
					<p class="label-yellow">urgent</p>
				</div>
			</div>
		</div>
		<!-- CARD URGENCE -->
		<div class="card-template-urgence">
			<div class="date-info">
				<p><i class="fas fa-user"></i> <i class="far fa-user"></i></p>
				<p class="hour">18h00</p>
			</div>
			<div class="card-urgence">
				<div class="top">
					<div class="shop-name">
						<%= image_tag "logo-carrefour.jpeg", alt: "Carrefour", width: 30 %>
						<p class="shop-title">carrefour saint-herblain</p>
					</div>
					<div class="distance">
						<p class="distance-label"><span><i class="fas fa-map-marker-alt"></i></span>700 m</p>
					</div>	
				</div>
				<div class="bottom">
					<p class="shop-address">Boulevard De la Baule, 44000 Saint- Herblain</p>
					<p class="label-yellow">je m'inscris</p>
				</div>
			</div>
		</div>
		<!-- CARD PLANNING -->
		<div class="card-template-planning">
			<div class="date-info">
				<p>Vendredi 12 mars 2021</p>
				<p class="hour">18h00</p>
			</div>
			<div class="card-planning">
				<div class="top">
					<div class="shop-name">
						<%= image_tag "logo-carrefour.jpeg", alt: "Carrefour", width: 30 %>
						<p class="shop-title">carrefour saint-herblain</p>
					</div>
					<div class="distance">
						<p class="distance-label"><span><i class="fas fa-map-marker-alt"></i></span>700 m</p>
					</div>	
				</div>
				<div class="bottom">
					<p class="shop-address">Boulevard De la Baule, 44000 Saint- Herblain</p>
					<p><i class="fas fa-times-circle cross"></i></p>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/navbar' %>