<div class="index">
	<h1 class="inset">Je choisis un magasin</h1>
	<div class="card-shop">
		<div class="top">
			<div class="shop-name">
				<%= image_tag "logo-carrefour.jpeg", alt: "Carrefour", width: 30 %>
				<p class="shop-title">carrefour saint-herblain</p>
			</div>
			<div class="distance">
				<p class="distance-label"><span><i class="fas fa-map-marker-alt"></i></span>700 m</p>
			</div>	
		</div>
		<div class="bottom">
			<p class="shop-address">Boulevard De la Baule, 44000 Saint- Herblain</p>
			<p class="label-yellow">urgent</p>
		</div>
	</div>
</div>