
<body>
  <div class="homepage-banner w-100">
    <div class="container">
      <div class="logo-container">
        <div class="logo-badge"></div>
      </div>

      <div>
        <h1 class="card-title inset text-center title-connexion" >Association DLC</h1>
        <p id="paragraph-landing">Ou encore <span>Détournement Libre de Consommables</span> fait le jeu de mot avec l'acronyme de <span>Date Limite de Consommation</span> indiqué sur certains produits.</p>
      </div>
      <div class="btn-oval-full-green text-center">
        <%= link_to "Se connecter", new_user_session_path %>
      </div>
    </div>
  </div>
</body>
</html>


