//add class="text-center" to center the button in the modal


.btn-oval {
border-radius: 45px;
border: none;
color: white;
font-family: 'Hind Madurai', sans-serif;
padding-left: 20px;
padding-right: 20px;
margin-top: 20px;
}

.btn-oval-full-green {
border-radius: 45px;
background-color: $green;
border: 2px solid $green;
color: white;
font-family: 'Hind Madurai', sans-serif;
padding-left: 20px;
padding-right: 20px;
margin-top: 20px;
}

.btn-oval-full-pink {
border-radius: 45px;
background-color: $red;
border: 2px solid $red;
color: white;
font-family: 'Hind Madurai', sans-serif;
padding-left: 20px;
padding-right: 20px;
margin-top: 20px;
}

.btn-oval-emergency {
border-radius: 45px;
background-color: $yellow;
border: none;
color: black;
font-family: 'Hind Madurai', sans-serif;
padding-left: 20px;
padding-right: 20px;
margin-top: 20px;
}

.revert-green {
  background-color:white;
  color:$green;
}

.revert-red {
  background-color:white;
  color:$red;
}