.card-template-shop {
	.card-shop {
		background: white;
	  box-shadow: $box-shadow;
	  margin-bottom: 1rem;
	  padding: 15px;
	  min-height: 7rem;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  border-radius: $card-radius;

	  p {
			margin-bottom: 0;
			}

		.top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.bottom {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}

		.shop-name {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.shop-title {
			font-size: 14px;
			font-weight: 600;
			text-transform: capitalize;
			padding-left: 5px;
		}

		.shop-address {
			color: black;
			opacity: 0.5;
			font-size: 12px;
			width: 55%;
		}


		.distance {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}

		.distance-label {
			font-size: 14px;
			font-weight: 500;

			span {
				color: $green;
				padding-right: 5px;
			}
		}


		.label-yellow {
			background-color: $yellow;
			text-transform: uppercase;
			font-size: 14px;
			border-radius: 10px; 
			padding: 0.3rem .8em;
	    margin: 0;
	    line-height: normal;
		}
	}
}
