/* COMPOSANT DATE */

.harvest-date {
  height:64px;
  border-radius: 32px;
  padding:8px 8px 8px 16px;
  margin:16px 0;
  display:flex;
  align-items:center;
  justify-content: space-between;

  p {
    text-transform: capitalize;
    width:max-content;
    text-align:center;
    max-width:40%;
    margin:0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .count{
    font-size: .9rem;
    font-weight: normal;
  }
}

.harvest-date.missing {
  background-color:white;
  color: $green;
}

.harvest-date.registered {
  background-color: $green;
  color:white;

  .count {
    font-weight: lighter;
  }

}

.harvest-date.full {
  background-color:$green-40;
  color:rgba(255,255,255,0.4);
}


/* BOUTON INSCRIPTION */
.harvest-date > div.date-action {
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content: center;
  width:56px;
  height:56px;
  border-radius:50%;
  font-size:2em;
  color:white;

  div {
    border-radius:50%;
    width:2.3rem;
    height:2.3rem;
    display:flex;
    align-items:center;
    justify-content: center;
    line-height:1;

    i {
      font-size:1rem;
      padding:0;
    }
  }
}

/* MISSING DATE */

.missing .date-action > div {
  background-color: $green;
}

.registered .date-action > div {
  background-color: $red;
}

/* REGISTERED DATE */

.harvest-date .cancel {
  background-color:$red;
}

/* ANIMATION BOUTON */

.pop {
  animation-duration: 0.4s;
  animation-name: pop;
}

@keyframes pop {
  from { width:2.3rem; height:2.3rem; }
  50% { width:2.8rem; height:2.8rem; }
  to { width:2.3rem; height:2.3rem; }
}
