// MOTEUR
#geo-search {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  #search-bar {
    display:flex;
    justify-content:center;
    width:100%;
    padding:0 1rem;
    margin-bottom:1rem;
  }

  #form-options {
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    
    a {
      padding: .5rem 1rem;
      border-radius: .5rem;
      background-color: $yellow;
      color: black;
    }

    [aria-expanded=true]>.fa-chevron-down {
    transform: rotate(-180deg);
    }
  }



  #search-options {
    margin:auto;
  }

  * {
    padding:0.2;
    border:none;
  }

  .fas {
    font-size: 1rem;
  }

  .fa-chevron-down {
    margin-left:0.5em;
    padding: 0;
  }

  input:first-child {
    border-radius: .5rem 0 0 .5rem;
    flex-grow:5;
    padding: .5em 1rem;
  }

  button:first-of-type {
    border-right:1px dotted black;
  }

  select {
    flex-grow:2;
    border-right:1px dotted black;
    background-color: white;
  }

  button:last-of-type {
    border-radius:0 .5rem .5rem 0;
    padding: .5em 1rem;
  }

  button {
    background-color:white;
  }
}

// MAP

div#shops-map-container {
  max-height:66vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-marker {
  cursor:pointer;
}


.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top:15px;
  color:black;
  h2 {
    font-size:1.25rem;
  }
  p.address {
    font-size:0.875rem;
    margin-bottom:8px;
  }
  p.city {
    font-size:1rem;
    margin-bottom:8px;
  }
  button.mapboxgl-popup-close-button {
  font-size:1.5rem;
  }
}

.mapbox-gl-canvas {
  width:100%;
}

.mapboxgl-ctrl-attrib-inner {
  display:none;
}

@media screen and (max-width: 360px) {
  #geo-search input:first-child {
    padding: .5rem;
  }
  #geo-search button:last-child {
    padding: .5em;
}
}
