// MOTEUR
#geo-search {
  display:flex;
  justify-content:center;
  width:100%;
  padding:0 1rem;
  overflow:hidden;
  * {
    padding:0.125rem 0.1875rem;
    border:none;
  }
  input:first-child {
    border-radius:1.5rem 0 0 1.5rem;
    width:-webkit-fill-available;
  }
  button:last-child {
    border-radius:0 1.5rem 1.5rem 0;
  }
  button {
    background-color:white;
  }
}

// MAP

div#shops-map-container {
  max-height:66vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-marker {
  cursor:pointer;
}


.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top:15px;
  color:black;
  h2 {
    font-size:1.25rem;
  }
  p.address {
    font-size:0.875rem;
    margin-bottom:8px;
  }
  p.city {
    font-size:1rem;
    margin-bottom:8px;
  }
  button.mapboxgl-popup-close-button {
  font-size:2rem;
  }
}

.mapbox-gl-canvas {
  width:100%;
}
