.mapboxgl-popup-content {
  padding: 1rem;

  .card-body {
    padding: 0;

    img {
      margin-bottom: 1rem;
    }
    a {
      display: inline-block;
    }
    p {
      font-size: .9rem;
    }
    .card-title {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  button.mapboxgl-popup-close-button {
    margin: .5rem;
  }
}
