.transparent {
  opacity:0;
}

.z10 {
  z-index:10!important;
}

#modal-window, #modal-layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

#modal-window {
  z-index:0;
  transition:0.25s ease-in;
  display:flex;
  justify-content: center;
}

#modal-layer {
  background-color:black;
  opacity:0.7;
}

#modal-message {
  position:fixed;
  top:35%;
  border:1px solid $green-40;
  border-radius:10px;
  padding:20px;
  margin:0 20px;
  display:flex;
  flex-direction:column;
  background-color:white;

  h5 {
    font-size: 16px;
  }
  .btn-oval-full-pink {
    color:black;
    padding: 0.5rem 1rem;
  }
  h5:not(#intro-text) {
    font-weight:bold;
    text-align:center;
  }
}

#modal-confirm {
margin-right: 40px;
display: inline-block!important;
}

#modal-schedule {
  text-transform: capitalize;
}
