/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: $green;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  border-radius: .5rem .5rem 0 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  z-index: 99;
}

/* Change the color of links on hover */
// .navbar a:hover {
//  background-color: #ddd;
//  color: black;
// }

/* Add a color to the active/current link */


.category-menu {
	color: $white-50;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px 5px 6px;
}

.active {
	color: white !important;
}


i {
	font-size: 1.2rem;
	padding-bottom: 5px;
}

