.tabs {
	width:100%;
	display:flex;
	justify-content:space-evenly;
	margin:1em auto;

	.tab {
		background-color:white;
		color:$green;
		padding:8px;
		width:50%;
		text-transform:uppercase;
		text-align:center;
		cursor:pointer;
	}

	.active {
		background-color:$green;
		color:white;
	}

	#shops-list-tab {
		border-radius: .5rem 0 0 .5rem;
	}

	#shops-map-tab {
		border-radius: 0 .5rem .5rem 0;
	}
}

.tab-container:not(.active) {
	display:none;
}

.tab-container a {
	text-decoration:none;
	color:black;
  font-size: .9rem;
  text-transform: uppercase;
  display: inline-block;
  outline: none;
}
