.tabs {
	width:100%;
	display:flex;
	justify-content:space-evenly;
	margin:1em auto;
	.tab {
		background-color:white;
		color:$green;
		padding:8px;
		width:50%;
		text-transform:uppercase;
		text-align:center;
		cursor:pointer;
	}
	.active {
		background-color:$green;
		color:white;
	}
}

.tab-container:not(.active) {
	display:none;
}

.tab-container a {
	text-decoration:none;
	color:black;
}
